body, html {
  padding: 10px;
  font-family: Arial;
  font-size: 16px;
  color: #333;
}


button, input {
  font-size: 20px;
  padding: 12px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: lightgrey;
  margin-bottom: 10px;
}

button {
  font-weight: bold;
  color: white;
  background-color: #708090;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display:inline-block;
}

.loading {
  text-align: center;
  width: 320px;
  margin: 20px auto;
}

.warning {
  color: #666;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.error {
  color: tomato;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.id-input {
  margin-right: 10px;
}

.kitty-image {
  width: 400px
}
